@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3 style="margin-top: 50px;">Been here before?</h3>
<p style="margin-bottom: 100px;">
    Although it could be a one-time issue, if this problem persists, please let us know about it <a href="https://docs.google.com/forms/d/e/1FAIpQLSeNu3jOSQdDhKnhHYe3d1FeVf1FiwtbzASf7z7maBydPzFwKA/viewform?usp=sf_link" target="_blank">here.</a>
</p>
