

@model server.Models.ProfileModel

@{
    ViewData["Title"] = "Edit";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/create.css" />
}

<h2>Edit</h2>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Profile.ProfileId" />
            <div class="form-group">
                <label asp-for="Profile.First_Name" class="control-label"></label>
                <input asp-for="Profile.First_Name" class="form-control" />
                <span asp-validation-for="Profile.First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Last_Name" class="control-label"></label>
                <input asp-for="Profile.Last_Name" class="form-control" />
                <span asp-validation-for="Profile.Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Preferred_Name" class="control-label"></label>
                <input asp-for="Profile.Preferred_Name" class="form-control" />
                <span asp-validation-for="Profile.Preferred_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instruments" class="control-label"></label>
                <span asp-validation-for="Instruments" class="text-danger"></span>
                @foreach (var ins in Model.Instruments)
                {
                    if (ins.Selected)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="SelectedInsIds" value="@ins.Value" checked/> @ins.Text
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="SelectedInsIds" value="@ins.Value" /> @ins.Text
                            </label>
                        </div>
                    }

                }
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label">Profile Picture</label>
                <input asp-for="File" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a href="/Home/Profile/@Model.Profile.ProfileId">Back to my wall</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
