@{
    Layout = "~/Views/Shared/_IndexOnly.cshtml";
    ViewData["Title"] = "PluggedIn";
}

<div id="splash" class="row">
    <div class="col-sm-6" style="padding:20px;">
        <h1>Welcome to PluggedIn!</h1>
        <p>
            We are a professional social network for musicians! Find
            auditions, book gigs and expand your network.
        </p>
        <p>
            From soloists to cover bands, chamber groups to orchestras,
            garage bands to international sensations-- this is the network for you!
        </p>

    </div>
    <div class="col-sm-6">
        <div class="container" id="signup" >
            <div id="header" class="row">
            </div>
            <div class="row" style="padding:10px;">
                <form asp-controller="Home" asp-action="Create">
                    @*
                    <div class="form-group">
                        <input type="text" name="firstname" class="form-control" id="inputName" placeholder="First Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="lastname" class="form-control" id="inputName" placeholder="Last Name" />
                    </div>
                    *@
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Password">
                        <small id="passwordHelp" class="form-text text-muted">Must be at least 6 characters long.</small>
                    </div>
                    <button type="submit" class="btn btn-danger">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>