@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model server.Models.Ensemble


<table class="table">
        <tr>
            <th>
                @Model.Ensemble_Name
            </th>
            <th>
                @Model.Genre
            </th>
            <th>
                @Model.Type
            </th>
            <th>
                @Model.Formed_Date
            </th>
            <th></th>
        </tr>
 </table>
