#posts {
    padding: 10px;
    margin-top: 10px;
}

#createPost {
    border: var(--bkg-dark) solid 1px;
    border-radius: 3px;
    width: 80%;
}

.tinyPic {
    width: 50px;
    height: 50px;
    border: var(--bkg-gold) solid 2px;
    border-radius: 3px;
    object-fit: cover;
}

.textContainer {
    font-size: 14pt;
}

.mediaContainer {
    width: 100%;
}

#postButtons {
    float: right;
    margin-top: 5px;
}

#postButtons * {
    float: right;
    margin-right: 5px;
}

.inputPost {
    resize: none;
    overflow: auto;
    border: 0;
    border-bottom: var(--bkg-teal) solid 2px;
    width: 95%;
    height: 70px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.inputPost:focus {
    outline: none;
}

form.row {
    margin-top: 15px;
}

#postContainer {
    width: 80%;
}

#postContainer .row {
    border: var(--bkg-dark) solid 1px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#postContainer .row hr {
    float: left;
    left: 0px;
    margin-right: 20px;
}

.postTable {
    width: 60%;
    margin-left: 30px;
    margin-bottom: 10px;
}

.postTable td {
    line-height: 20px;
    width: auto;
    margin-left: 10px;
}

.postWButton .btn {
    float: right;
    padding-left: 25px;
    padding-right: 25px;
}

.mediaContainer img{
    max-width: 90%;
    max-height: 400px;
}

.resume {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    color: #FFF;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    background-color: var(--bkg-red);
}

.resume:hover {
    text-decoration: none;
    background-color: #FFF;
    color: var(--bkg-red);
}