#profile, #posts {
    padding: 10px;
    margin-top: 10px;
}

#profPic {
    width: 250px;
    height: 250px;
    border: var(--bkg-gold) solid 2px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#profile div {
    margin-bottom: 15px;
}

#name {
    text-align: center;
    margin-bottom: 15px;
}

#createPost {
    border: var(--bkg-dark) solid 1px;
    border-radius: 3px;
    width: 80%;
}

.tinyPic {
    width: 50px;
    height: 50px;
    border: var(--bkg-gold) solid 2px;
    border-radius: 3px;
}

.textContainer {
    font-size: 14pt;
}

.mediaContainer {
    width: 100%;
}

#postButtons {
    float: right;
    margin-top: 5px;
}

#postButtons * {
    float:right;
    margin-right: 5px;
}

.inputPost {
    resize: none;
    overflow: auto;
    border: 0;
    border-bottom: var(--bkg-teal) solid 2px;
    width: 95%;
    height: 70px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.inputPost:focus {
    outline: none;
}

form.row {
    margin-top: 15px;
}

#postContainer {
    width: 80%;
}

#postContainer .row {
    border: var(--bkg-dark) solid 1px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#postContainer .row hr {
    float: left;
    left: 0px;
}

.postTable {
    width: 60%;
    margin-left: 30px;
    margin-bottom: 10px;
}
.postTable td {
    line-height: 20px;
    width: auto;
    margin-left: 10px;
}

.postWButton button{
    float: right;
    padding-left: 25px;
    padding-right: 25px;
}

.glyphicon-map-marker {
    color: var(--bkg-teal);
}

#ensembleContainer {
    padding: 0;
}

#ensembleContainer img {
    width: 55px;
    height: 55px;
    border: 2px solid var(--bkg-gold);
    border-radius: 3px;
    margin: 5px;
}

#ensembleContainer .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.extraBit {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
    border: 3px solid var(--bkg-dark-grey);
    border-radius: 3px;
    width: 55px;
    height: 55px;
    background-color: var(--bkg-grey);
    text-align: center;
    line-height: 50px;
}

.extraBit .glyphicon-plus {
    color: var(--bkg-dark-grey);
}

.extraBit:hover {
    cursor: pointer;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    #profile {
        align-items: center;
    }
}