#profile {
    padding: 10px;
    margin-top: 10px;
}

#profPic {
    width: 250px;
    height: 250px;
    border: var(--bkg-gold) solid 2px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#profile div {
    margin-bottom: 15px;
}

#name {
    text-align: center;
    margin-bottom: 15px;
}

.glyphicon-map-marker {
    color: var(--bkg-teal);
}

#ensembleContainer {
    padding: 0;
}

#ensembleContainer img {
    width: 55px;
    height: 55px;
    border: 2px solid var(--bkg-gold);
    border-radius: 3px;
    margin: 5px;
    float: left;
}

#ensembleContainer .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.extraBit {
    margin: 5px;
    float: left;
    border: 3px solid var(--bkg-dark-grey);
    border-radius: 3px;
    width: 55px;
    height: 55px;
    background-color: var(--bkg-grey);
    text-align: center;
    line-height: 50px;
}

.extraBit .glyphicon-plus {
    color: var(--bkg-dark-grey);
}

.extraBit:hover {
    cursor: pointer;
}

#audInfo div {
    margin-bottom: 7px;
}

#audInfo .row:last-child {
    margin-bottom: 10px;
    max-height: 300px;
    overflow-y: auto;
}

#audInfo .bold {
    margin-left: 50%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    #profile {
        align-items: center;
    }

    #audInfo .bold {
        margin-left: 0px;
    }
}