#sidenav {
    padding: 10px;
    margin-top: 50px;
}

#sidenav > div {
    cursor: pointer;
}

#sidenav > div > a {
    width: 100%;
    display: inline-block;
    margin: 0;
    border-top: 1px solid var(--bkg-grey);
    border-right: 1px solid var(--bkg-grey);
    border-left: 2px solid var(--bkg-teal);
    padding: 10px;
    padding-left: 15px;
    height: 40px;
    vertical-align: middle;
    text-decoration: none;
}

#sidenav .selected {
    border-left: 4px solid var(--bkg-red);
    padding-left: 14px;
    color: black;
    cursor: default;
}

#sidenav a:not(.selected):hover {
    background-color: #f6f8fa;
}

#sidenav:last-child {
    border-bottom: 1px solid var(--bkg-grey);
}

#query {
    text-align: center;
    margin-bottom: 15px;
}

.resultNum {
    float: right;
    background-color: rgba(27,31,35,.08);
    border-radius: 20px;
    color: var(--bkg-dark-grey);
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    font-size: 10pt;
    padding: 2px 5px;
}

#queryresults li {
    list-style: none;
}
#queryresults li a {
    color: black;
}