/* ================================================== */
/* ================= Color Variables ================ */
/* ================================================== */
:root {
    --bkg-teal: #2EC4B6;
    --bkg-red: #E71D36;
    --bkg-dark: #011627;
    --bkg-gold: #FF9F1C;
    --bkg-grey: #CCCCCC;
    --bkg-dark-grey: #A1A1A1;
}
/* Teal: #2EC4B6
   Red:  #E71D36
   Dark: #011627
   Gold: #FF9F1C
   Grey: #CCCCCC */


/* ================================================== */
/* ================== Misc Styling ================== */
/* ================================================== */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12pt;
}

hr {
    background-color: var(--bkg-teal);
    border-color: var(--bkg-teal);
    color: var(--bkg-teal);
    width: 90%;
    align-self: center;
}

footer hr {
    background-color: var(--bkg-dark);
    border-color: var(--bkg-dark);
    color: var(--bkg-dark);
}

[hidden] {
    display: none !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.glyphicon-bell {
    color: var(--bkg-gold);
}

.red-ast {
    color: red;
}

#search {
    display: block;
    text-align: center;
}

.bordered {
    border: var(--bkg-dark) solid 1px;
    border-radius: 3px;
    width: 80%;
}

.bold {
    font-weight: bold;
}


/* ================================================== */
/* ================= Button Styling ================= */
/* ================================================== */
.btn-primary {
    background-color: var(--bkg-teal);
    border-color: #2ABFB1;
}
.btn-primary:hover {
    background-color: #0DB6A4;
    border-color: #009585;
}

.btn-danger {
    background-color: var(--bkg-red);
    border-color: #BC081D;
}
.btn-danger:hover {
    background-color: #940011;
    border-color: #71000D;
}

.btn-dark {
    background-color: var(--bkg-dark);
    border-color: #000B13;
    color: #FFF;
}
.btn-dark:hover {
    background-color: #000204;
    border-color: #000;
    color: #FFF;
}

.btn-warning {
    background-color: var(--bkg-gold);
    border-color: #D57B00;
}
.btn-warning:hover {
    background-color: #A76100;
    border-color: #583300;
}

.btn-secondary {
    background-color: var(--bkg-grey);
    border-color: #A1A1A1;
}
.btn-secondary:hover {
    background-color: #AAA;
    border-color: #3F3E3E;
}


/* ================================================== */
/* ================== Modal Styling ================= */
/* ================================================== */

/* background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 6% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#desc {
    height: 300px;
    vertical-align: top;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


/* ================================================== */
/* ================= Screen Styling ================= */
/* ================================================== */

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}